{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHtml}}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    <ul class="pager">
      {{ if .Prev }}
      <li class="previous"><a href="{{ .Prev.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Next }}
      <li class="next"><a href="{{ .Next.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
