<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  <title>
    {{ if eq .Url "/" }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Title }} &middot; {{ .Site.Title }}
    {{ end }}
  </title>

  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/main.css" />
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/github.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" type="text/css">
  <link rel="shortcut icon" href="{{ .Site.BaseUrl }}/images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseUrl }}/images/apple-touch-icon.png" />
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body>
  <header class="global-header">
    <img class="header-img" src="{{ .Site.BaseUrl }}/images/bg.jpg" alt="">
    <section class="header-text">
      <h1><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
      {{ if isset .Site.Params "bio" }}
      <div class="tag-line">
        {{ .Site.Params.bio }}
      </div>
      {{ end }}
      {{ partial "link.html" . }}
    </section>
  </header>
  <main class="container">
